# ================================
# Python
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# ================================
# Data files (DO NOT COMMIT)
# ================================
data/raw/*.csv
data/processed/*.csv
data/processed/*.parquet

# ================================
# Power BI files (DO NOT COMMIT)
# ================================
powerbi/*.pbix

# ================================
# Config secrets
# ================================
config/*.json

# ================================
# Logs / temp
# ================================
*.log
*.tmp

# ================================
# OS files
# ================================
.DS_Store
Thumbs.db

# ================================
# Jupyter / IDE
# ================================
.ipynb_checkpoints/
.vscode/
.idea/

# ================================
# SQL Server local files
# ================================
*.mdf
*.ldf
